# ─── Angular ───────────────────────────────────
.angular/
dist/
tmp/
/out-tsc

# ─── Node ──────────────────────────────────────
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ─── IDE ───────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

# ─── OS ────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Env / Secrets ─────────────────────────────
.env
*.env.local

# API keys de Angular (NO subir a GitHub)
Frontend/PetCenter/src/environments/environment.ts
Frontend/PetCenter/src/environments/environment.development.ts

# ─── Docker volumes ────────────────────────────
postgres_data/	