# ─── Angular ───────────────────────────────────
.angular/
dist/
tmp/
/out-tsc

# ─── Node ──────────────────────────────────────
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ─── IDE ───────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ─── OS ────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Env / Secrets ─────────────────────────────
.env
*.env.local

# ─── Docker volumes ────────────────────────────
postgres_data/	