<div class="portal-root">
  <!-- NAV (blanco, fixed top) -->
  <nav class="navbar">
    <div class="navbar-inner">
      <a class="navbar-brand" routerLink="/">
        <img class="brand-img" src="petcenter.png" alt="PetCenter" />
      </a>

      <div class="navbar-links">
        <a class="btn-pill primary" routerLink="/adopcion">ADOPTA</a>
        <a class="btn-pill outline" routerLink="/cita">CITA VETERINARIA</a>
      </div>
    </div>
  </nav>

  <!-- Vistas (cambian con la ruta) -->
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="footer">
    <div>PetCenter © 2025 — Refugio de Adopción de Mascotas · Hecho con <span>❤️</span> en Chihuahua, Méx.</div>
    <a class="staff-access" routerLink="/login">Acceso staff →</a>
  </footer>
</div>
